<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title></title>
</head>
<body>
<a href="{% url 'jobapp:employerprofile' %}">Myprofile</a>
<a href="{% url 'jobapp:employerjobcreate' %}">EmployerJobCreate</a>

{% block content %}
{% endblock %}
</body>
</html>