{% extends 'employertemplates/employerbase.html' %}
{% block content %}
<h1>employer detail</h1>
<h2>employername:{{employerdetail.name}}</h2>
<h3>employer website:{{employerdetail.website}}</h3>
<h3>employer mobile:{{employerdetail.mobile}}</h3>
{% endblock %}