{% extends 'employertemplates/employerbase.html' %}
{% block content %}
<h1>my pro</h1>
<h1>{{employer.name}}</h1>
<h2>{{employer.email}}</h2>
<h3>{{employer.address}}</h3>
<h3>{{employer.mobile}}</h3>
<hr>
<h3>Job Posted by {{employer.compnay}}</h3>
<table class='table'>
	<thead>
		<tr>
			<th>Sn</th>
			<th>Job title</th>
			<th>Deadline</th>
			<th>Posted on</th>
		</tr>
		

	</thead>
	<tbody>
		{% for job in employer.job_set.all %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td><a href="{% url 'jobapp:employerjobdetail' job.id %}">{{job.title}}({{job.jobapplication_set.count}}application)</a></td>
			<td>{{job.deadline}}</td>
			<td>{{job.created_at}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}