{% extends 'employertemplates/employerbase.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{{form.as_p}}
<button>Submit</button>
</form>
{% endblock %}