{% extends 'employertemplates/employerbase.html' %}
{% block content %}
<h1>EmployerRegistraion</h1>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
	<button>Submit</button>
	</form>
{% endblock %}