{% extends 'employertemplates/employerbase.html' %}
{% block content %}
<h1>employerjobdetail</h1>
<h3>jobtitle:{{jobobject.title}}</h3>
<h3>jobcreated:{{jobobject.created_at}}</h3>
<h4>jobcategory:{{jobobject.category}}</h4>
<h3>Job Application for this job</h3>
<table class='table'>
	<thead>
		<tr>
			<th>Sn</th>
			<th>applicant</th>
			<th>applied on</th>
			<th>downloadcv</th>
		<tr>
	</thead>

	<tbody>
		{% for application in jobobject.jobapplication_set.all %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{application.jobseeker}}</td>
			<td>{{application.created_at}}</td>
			<td>
				<a href="{{application.jobseeker.cv.url}}" download>Download Cv</a>
				<a href="{{application.cover_letter.url}}" download>Download coverletter</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	

</table>
{% endblock %}