<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'jobseekerstatic/css/bootstrap.min.css' %}">
	{% block css %}
	{% endblock %}
</head>
<body class="container">
	<nav class="nav">

	<ul>
		<li>
			<a href="{% url 'jobapp:adminhome' %}">Home</a>
			<a href="">About</a>
			<li>logged in as :{{request.user}}</li>
			<a href="{% url 'jobapp:adminprofile' %}">AdminProfile</a>
			<a href="{% url 'jobapp:logout' %}">Logout</a>
		</li>
		
	</ul>
</nav>

{% block content %}
{% endblock %}
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
{% block js %}
{% endblock  %}
</body>
</html>
