{% extends 'admintemplates/adminbase.html' %}
{% block content %}
<h1 id="myh1">Admin Profile</h1>
<hr>
<input type='text' value='' id ="myinput" >
<h2>{{admin.name}}</h2>
<h3>{{admin.address}}</h3>
<h4>{{admin.mobile}}</h4>
<hr>
<h1>Employer Information</h1>
<table class="table">
	<thead>
		<tr>
			<th>Sn</th>
			<th>Employer Name</th>
			<th>Mobile</th>
		</tr>
	</thead>
		<tbody>
			{% for employer in allemployers %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{employer.name}}</td>
				<td>{{employer.mobile}}</td>
			</tr>
		
			{% endfor %}
			

		</tbody>


	

</table>
<hr>
<h1>JobseekerInformation</h1>
<table class="table">
	<thead>
		<tr>
			<th>Sn</th>
			<th>joseeker name</th>
			<th>address</th>
			<th>mobile</th>
		</tr>

	</thead>
	<tbody>
		{% for jobseeker in alljobseekers %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{jobseeker.name}}</td>
			<td>{{jobseeker.address}}</td>
			<td>{{jobseeker.mobile}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
{% block js %}
<script >
	// alert("hello wolrd");
	// document.getElementById('myh1').style.color='red';
	// document.getElementById('myinput').value="my";
	// var el=document.getElementById("myinput")
	// el.type='hidden'
	$('#myh1')
	$('#myinput').on('change',function(){
		var value = $(this).val();
		alert(value);
	})
	
</script>
{% endblock %}