{% extends 'admintemplates/adminbase.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
{% endblock %}
{% block content %}
<h1>this is Admin HomePage</h1>
<div class="row">
	<div class="col-md-3 bg-success p-3">
		<h3 class="text-center text-white">{{allemployers.count}}</h3>
		<h4 class="text-center">Employers</h4>
	</div>
	<div class="col-md-3 bg-warning p-3">
		<h3 class="text-center text-white">{{alljobs.count}}</h3>
		<h4 class="text-center">Jobs</h4>

	</div>
	<div class="col-md-3 bg-info p-3">
		<h3 class="text-center text-white">{{alljobseekers.count}}</h3>
		<h4 class="text-center">Jobseeker</h4>

	</div>
	<div class="col-md-3 bg-danger p-3">
		<h3 class="text-center text-white">{{allapplications.count}}</h3>
		<h4 class="text-center">JobApplication</h4>
	</div>
	</div>
	<div class="row">
		<div class="col-md-6">
            <h3>Employers Statistics</h3></hr>
			<canvas id="myChart" width="400" height="400"></canvas>
		</div>
        <div class="col-md-6">
            <h3>Job Statistics</h3></hr>
            <canvas id="jobChart" width="400" height="400"></canvas>
        </div>
	</div>

{% endblock %}
{% block js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: [{% for employer in allemployers %}"{{employer.compnay}}",{% endfor %}],
        datasets: [{
            label: '# Job Statistic',
            data: [{% for employer in allemployers %}"{{employer.job_set.all.count}}",{% endfor %}],
            backgroundColor: [
            '#799746',
                // 'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
               
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
var job = document.getElementById('jobChart');
var jobChart = new Chart(job, {
    type: 'bar',
    data: {
        labels: [{% for job in alljobs %}"{{job.title}}",{% endfor %}],
        datasets: [{
            label: '# Job Statistic',
            data: [{% for job in alljobs %}"{{job.jobapplication_set.all.count}}",{% endfor %}],
            backgroundColor: [
            '#799746',
                // 'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
               
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}