{% extends 'jobseekertemplates/jobseekerbase.html' %}
{% block content %}
<!-- <h1>(views :{{jobseekerdetail.views_count}})
<h1>this is the detail view</h1>
<h1>{{jobseekerdetail.name}}</h1>
<p>{{jobseekerdetail.about}}</p>
<img src="{{jobseekerdetail.image.url}}" width="200"> -->
<h1>Job Detail</h1>
<a href="{% url 'jobapp:jobseekerjobapply' jobdetail.id %}">ApplyNow</a>
<h1>{{jobdetail.title}}</h1>
<h2>{{jobdetail.skills}}</h2>
<img src="{{jobdetail.image.url}}" width="200">
<h3>{{jobdetail.details|safe}}</h3>
<div class="fb-like" data-href="{{request.build_absolute_uri}}" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
<div class="fb-comments" data-href="{{request.build_absolute_uri }}" data-width="" data-numposts="5"></div>
{% endblock %}