{% extends 'jobseekertemplates/jobseekerbase.html' %}
{% load static %}
{% block content %}
<h1>this is the Job List view</h1>
<div class="row">
	<div class="col-md-9">
		<div class="row">
			{% for job in joblist %}
			<div class="col-md-4">
					
				<a href="{% url 'jobapp:jobdetail' job.id %}">{{job.title}}</a><br>
				<img src="{{job.image.url}}" width="200" class="img-fluid">
				<h1>{{job.skills}}</h1>
				<h2>{{job.educations}}</h2>
			</div>
			{% endfor %}
		</div>
		
	</div>
	<div class="col-md-3">
		<h3>LatestJobs</h3>
		{% for job in joblist %}
		<div class="col-md-12">
			<li><a href="{% url 'jobapp:jobdetail' job.id %}">{{job.title}}
			</a></li>
			<h1>{{job.skills}}</h1>
			<h2>{{job.educations}}</h2>
		</div>
	{% endfor %}
	</div>

</div>



{% endblock %}