{% extends 'jobseekertemplates/jobseekerbase.html' %}
{% load static %}
{% block content %}
<h1>Job Application Form</h1>
<form method='post' enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p }}
	<button>Apply</button>

	</form>
{% endblock %}