{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'jobseekerstatic/css/bootstrap.min.css' %}">
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
	<h1>email is send</h1>
		{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
	{% if request.user.is_authenticated and request.user.groups.first.name == 'jobseeker' %}																			
	<h5>logged in as:{{request.user}}</h5>
	<a href="{% url 'jobapp:jobseekerprofile' %}">MyProfile</a>
	{% else %}
	<a href="">login</a>
	<a href="{% url 'jobapp:jobseekerregister' %}">Register</a>
	{% endif %}
	<a href="{% url 'jobapp:jobseekerhome' %}">Home</a>


	{% block content %}
	{% endblock %}

	<div class="row">
		<div class="col-md-12">
			<form method="post" action="{% url 'jobapp:jobseekersubscribe' %}">
				<p id ='errorp'></p>
				{% csrf_token %}
				{{subform.as_p}}
				
				<button id="mybutton">Subscribe</button>
			</form>
		</div>
	</div>
	<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>


<script>
	$('#id_email').on('keyup',function(){
		var email = $(this).val();
		$.ajax({
			url:"{% url 'jobapp:subscribercheck' %}",
			data:{'email':email},
		success:function(data){
			if(data.error=='error')
			{$('#errorp').text('subscriber already exists');
		     $('#mybutton').attr('disabled',true);


			}
			else
			{
				$('#errorp').text('you can subscribe this email');
		     $('#mybutton').removeAttr('disabled');

			}
		}

	})
	})
</script>




    <script type="text/javascript" src="{% static 'jobseekerstatic/js/jquery-3.4.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jobseekerstatic/js/bootstrap.bundle.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'jobseekerstatic/js/bootstrap.min.js' %}"></script>
	<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5cc94a292846b90c57ac4f71/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>