{% extends 'jobseekertemplates/jobseekerbase.html' %}
{% block content %}
<h3>My Profile</h3>
<hr>
<h4>Name:{{jobseeker.name}}</h4>
<h3>Job I have Applied</h3>
</hr>
<table class='table'>
	<thead>
		<tr>
		<th>SN</th>
		<th>JobTitle</th>
		<th>Company</th>
		<th>Date</th>
		</tr>
	</thead>
	<tbody>
		{% for jobapplication in jobseeker.jobapplication_set.all %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{jobapplication.job.title}}</td>
			<td>{{jobapplication.job.employer.compnay}}</td>
			<td>{{jobapplication.created_at}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}