{% extends 'jobseekertemplates/jobseekerbase.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
	<button>Register</button>


	</form>

{% endblock %}