{% extends 'jobseekertemplates/jobseekerbase.html' %}
{% block content  %}
{% load static %}
<h1>this is JOB  Home page</h1>
<h2>JobList</h2>
{% for job in jobs %}
<img src="{{job.image.url}}" width="200">
<h2>{{job.level}}</h2>
{% endfor %}
<div class="fb-page" data-href="https://www.facebook.com/SarobarTechnology/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/SarobarTechnology/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SarobarTechnology/">Sarobar Technology Pvt. Ltd</a></blockquote></div>
{% endblock %}