{% extends 'jobseekertemplates/jobseekerbase.html' %}
{% block content %}
{% if error %}
<li>{{error}}</li>
{% endif %}
<form method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<button>LOGIN</button>
</form>
<h4>Don't have account ?</h4>
<a href="{% url 'jobapp:jobseekerregister' %}">Register as Jobseeker</a>
or
<a href="{% url 'jobapp:employerregistration' %}">Register as Employer</a>
{% endblock %}